@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    :root {
        --background: 8 0% 98%;
        --foreground: 8 0% 10%;
        --card: 8 0% 98%;
        --card-foreground: 8 0% 15%;
        --popover: 8 0% 98%;
        --popover-foreground: 8 95% 10%;
        --primary: 8 98.8% 67.5%;
        --primary-foreground: 0 0% 0%;
        --secondary: 8 10% 90%;
        --secondary-foreground: 0 0% 0%;
        --muted: -30 10% 95%;
        --muted-foreground: 8 0% 40%;
        --accent: -30 10% 90%;
        --accent-foreground: 8 0% 15%;
        --destructive: 0 50% 50%;
        --destructive-foreground: 8 0% 98%;
        --border: 8 20% 82%;
        --input: 8 20% 50%;
        --ring: 8 98.8% 67.5%;
        --radius: 0.5rem;
    }

    .dark {
        --background: 8 10% 5%;
        --foreground: 8 0% 90%;
        --card: 8 0% 0%;
        --card-foreground: 8 0% 90%;
        --popover: 8 10% 5%;
        --popover-foreground: 8 0% 90%;
        --primary: 8 98.8% 67.5%;
        --primary-foreground: 0 0% 0%;
        --secondary: 8 10% 10%;
        --secondary-foreground: 0 0% 100%;
        --muted: -30 10% 15%;
        --muted-foreground: 8 0% 60%;
        --accent: -30 10% 15%;
        --accent-foreground: 8 0% 90%;
        --destructive: 0 50% 30%;
        --destructive-foreground: 8 0% 90%;
        --border: 8 20% 18%;
        --input: 8 20% 18%;
        --ring: 8 98.8% 67.5%;
        --radius: 0.5rem;
    }


    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }

    .h1 {
        @apply text-4xl md:text-6xl xl:text-[72px] xl:leading-[80px] tracking-[-2px] font-bold;
    }

    .h2 {
        @apply text-4xl font-bold;
    }

    .h3 {
        @apply text-3xl font-bold;
    }

    .h4 {
        @apply text-[22px] font-semibold;
    }

    .subtitle {
        @apply text-muted-foreground text-lg mb-8 font-light;
    }

    .section-title {
        @apply text-4xl font-bold relative w-max flex items-center justify-between gap-x-3 before:bg-dots_light before:dark:bg-dots_dark before:bg-no-repeat before:bg-center before:w-[24px] before:h-[24px];
    }

    .badge {
        @apply z-10 w-[200px] h-[68px] bg-white dark:backdrop-blur-[44px] shadow-2xl p-4 rounded-[10px] flex items-center gap-x-4;
    }

    /* swiper bullets styles */
    .swiper-horizontal > .section-pagination-bullets .swiper-pagination-bullet,
    .swiper-pagination-horizontal.swiper-pagination-bullets
    .swiper-pagination-bullet {
        @apply bg-primary;
    }
}
